// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sample-name: 'sample';
$sample-x: 0px;
$sample-y: 0px;
$sample-offset-x: 0px;
$sample-offset-y: 0px;
$sample-width: 174px;
$sample-height: 290px;
$sample-total-width: 300px;
$sample-total-height: 590px;
$sample-image: '../img/sprite.png';
$sample: (0px, 0px, 0px, 0px, 174px, 290px, 300px, 590px, '../img/sprite.png', 'sample', );
$background-name: 'background';
$background-x: 0px;
$background-y: 290px;
$background-offset-x: 0px;
$background-offset-y: -290px;
$background-width: 300px;
$background-height: 300px;
$background-total-width: 300px;
$background-total-height: 590px;
$background-image: '../img/sprite.png';
$background: (0px, 290px, 0px, -290px, 300px, 300px, 300px, 590px, '../img/sprite.png', 'background', );
$spritesheet-width: 300px;
$spritesheet-height: 590px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sample, $background, );
$spritesheet: (300px, 590px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
