@import './sprite.scss';

body {
    // display: flex;
    background: url('../img/background.png') no-repeat;
    transition: color 1s ease-out;
    // @include sprite($sample);
	p {
        background: blue;
    }
}